.movielist_container {
    z-index: 1;
    color: #fff;
}

.movielist_container-grid {
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 1rem;
}

.movielist_box {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
    padding-right: .3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgba(40, 0, 0, 0.8);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.movie_poster {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100px;
    min-height: 100%;
}


/* responsiveness */
@media (max-width: 500px) {
    .movielist_container-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 100px);
    }
}