.hero_content {
    z-index: 1;
    position: relative;
    padding: .5rem 5%;
    display: grid;
    place-items: center;
}

.hero_header {
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    font-weight: 500;
    font-size: 2.5rem;
}

.hero_input-container {
    margin: 1rem auto;
    padding: 0 2rem;
    border-radius: 2.5rem;
    border: 1px solid #fff;
    background: rgba(40, 0, 0, 0.50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 32%;
}

input {
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-family: inherit;
    margin-right: 8rem;
}

.search_icon-container {
    border-left: 1px solid #fff;
    display: grid;
    place-items: center;
    padding: 1rem 0 1rem 1rem;
}

.search_icon {
    width: 20px;
}

/* loader */
.dot {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
    animation: searching 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot::before, .dot::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot::before {
    left: -10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    animation: searching 1s infinite alternate;
    animation-delay: 0s;
}

.dot::after {
    left: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    animation: searching 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes searching {
    0% {
        background-color: #fff;
    }
    50%, 100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}