.watchlist_container {
  background-color: #3F0000;
  color: #fff;
  position: absolute;
  right: 5%;
  top: 10%;
  width: 700px;
  z-index: 120;
  border-radius: 20px;
  padding: 1rem 2rem;
};

.no_movies {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid yellow;
}

.no_movies-box {
    display: grid;
    place-items: center;
    height: 90%;
    width: 100%;
    font-size: 1rem;
    font-style: italic;
    padding-block: 3rem;
}

.watchlist_header-flex {
    display: flex !important;
}

.header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: .5rem;
}

.close_watchlist {
    font-size: 2.5rem;
    cursor: pointer;
}

.watchlist_header {
    font-size: 1.5rem;
}

.watchlist_container .watchlist_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
    border-bottom: 2px solid #2e0101;
    padding-block: 1rem;
}

.title_box {
    display: flex;
    align-items: center;
}

.watchlist_poster-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 100px;
}

.watchlist_title {
    margin-left: 1rem;
}

.watchlist_runtime {
    margin-left: 1rem;
    margin-top: .5rem;
    font-size: .75rem;
}

.watchlist_director {
    margin-left: 1rem;
    margin-top: .5rem;
    font-size: .75rem;
    font-style: italic;
}

.remove_watchlist-btn {
    background-color: #510101;
    border: none;
    color: #fff;
    padding: .7rem 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    font-family: inherit;

    transition: all .2s ease-in-out;
}

.remove_watchlist-btn:hover {
    background-color: #720505;
}

.overlay {
    background-color: #000000df;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 110;
}