nav {
    display: flex;
    align-items: center;
    padding: 1rem 5%;
    justify-content: space-between;
    z-index: 1;
}

ul, a {
    list-style: none;
    text-decoration: none;
}

.navbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn {
    padding: .5rem 1.1rem;
    outline: none;
    border: none;
    font-family: inherit;
    border-radius: 1rem;
    font-size: .85rem;
    cursor: pointer;
    color: #fff;
    transition: all .2s ease-in-out;
}

.watchlist {
    border: 2px solid #fff;
    background-color: #FF0000;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.watchlist:hover {
    background-color: #FF0000a4;
}

.watchlist_icon {
    width: 20px;
}

.watchlist_count {
    background-color: #fff;
    color: #FF0000;
    border-radius: 50%;
    padding: .4rem .5rem;
    font-size: .65rem;
    font-weight: 700;
}


@media(max-width: 500px) {
    .search{
        display: none;
    }

    input {
        margin-right: 5rem;
    }
}