.container {
    width: 100svw;
    height: 100svh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    display: flex;
    flex-direction: column;
}

.container::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(40, 0, 0, 0.85);
}