.container {
    width: 100svw;
    height: 100svh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    display: flex;
    flex-direction: column;
}

.container::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(40, 0, 0, 0.85);
}

.alert {
    position: absolute;
    z-index: 150;
    background-color: #FF0000;
    color: white;
    text-align: center;
    padding-block: 1rem;
    border-radius: 20px;
    width: 30%;
    left: 0;
    right: 0;
    margin-inline: auto;
    top: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

/* responsiveness */
@media(max-width: 500px) {
    
}